<div class="col-md-8 col-md-offset-2">
  <div class="item_div">
      <!-- 遍历@products,里面每个元素叫product -->
    <%= render :partial => "products/item", :collection => @products, :as => :product %>
  </div>

</div>
